body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #484A50;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 130px;
}

.nav img {
    top: 0;
    position: absolute;
    padding-left: 12vw;
}

.nav h1 {
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 10vw;
    color: #f6f4e6;
    font-size: 18px;
    font-family: "Arimo", sans-serif;
}

.nav nav {
    padding-right: 10vw;
}

.nav2 a {
    font-size: 25px;
    text-decoration: none;
    padding-left: 7vw;
    color: #f6f4e6;
    font-family: "Arimo", sans-serif;
}

.nav2 a:hover{
    color: #e7a61a;
}

.nav a {
    text-decoration: none;
    color: #f6f4e6;
}

.nav a:hover {
    color: #e7a61a;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;

    padding-bottom: 20px;
}

.gallery img {
    border: 10px solid white;
    border-bottom: 5px;
}

.para {
    text-align: center;
    font-size: 10px;
}

.para a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 415px) {
    .gallery{
        grid-template-columns: 350px;
        justify-content: center;
    }

    .gallery img {
        width: 350px;
        height: 350px;
        border-right: none;
        border-left: none;
        border-bottom: 5px;
    }

    .nav img {
        display: none;
    }
    
    .nav h1{
        width: 100%;
        padding-right: 0;
    }
  }

  @media screen and (max-width: 900px) {
    .gallery{
        grid-template-columns: 355px 350px;
        justify-content: center;
    }
    .gallery img {
        width: 350px;
        height: 350px;
        border-right: 5px;
        border-left: none;
        border-bottom: 5px;
    }
    .nav img {
        width: 225px;
        height: 150px;
    }
    .nav {
        width: 100%;
    }
}
